<section id="portfolio">
  <div class="container">
    <div class="col-lg-12">
      <div class="text-center">
        <h2>About Us</h2>
        <p>Be a name, not a number. You deserve to be part of a company that has a family atmosphere
        that values you and your contribution as an over-the-road truck driver.
        The iTruckDispatcher family culture stands for doing the right thing to ensure the best for our employees.
        This goes from how you are compensated, to how you are treated.</p>
      </div>

      <div class="features">
        <div class="container">
          <img class="img-m img-fluid img-right d-none d-lg-block d-xl-block" src="images/1.jpg" class="img-responsive" >
            <p>
              Established in 1980, iTruckDirpatcher was a truckload division of the LognHorn Company.  In 2009, LongHorn Transport was privately acquired and turned into iTruckDispatcher Services.  Today we are an asset based trucking company and 3PL (third party logistics) provider.  We are located in Tacona, Washington but have transportation capabilities nationwide.  Our team is well-experienced in transportation and is continuously enhancing the way in which we create value for our customers.
<br>
</p>
          </div>
      </div>
      <div class="features">
        <div class="container">
          <img class="img-m img-fluid img-left d-none d-lg-block d-xl-block" src="images/2.jpg" class="img-responsive">
            <p>

              Since 2005, iTruckDispatcher has more than doubled in size.
              With a very controlled and planned out growth strategy,
              iTD successfully navigated through an economic period that took its toll on the trucking industry.
              Now we are operating over 550 pieces of equipment as our fleet and logistics divisions move over
              60,000 loads per year.  iTD’s growth is a testament to our innovative transportation solutions
              and our quality service.
              
               </p>
          </div>
      </div>
      <div class="features">
        <div class="container">
          <img class="img-m img-fluid img-right d-none d-lg-block d-xl-block" src="images/3.jpg" class="img-responsive" >
            <p>
              Truck drivers are essential to the company’s operation.
              Because iTruckDispatcher has been recognized as being one of the best
              trucking companies to drive for, we have our selection of
              the best OTR drivers in the industry. This means quality
              service for you. Our truck drivers are driven to be the best and proudly are the face of our
              company.  After careful hiring and excellent training,
              our drivers stand out among the rest.  Not only do we carefully select
              applicants, our OTR drivers expect excellence out of those they drive beside.
              This is showcased by our great safety scores and our on-time deliveries.
              If you pride yourself on your professionalism and quality skillset,
              then you belong at our Trucking Services, the premier transportation company of Tacoma, WA.<br>
                <br>
</p>
          </div>
      </div>
    </div>
  </div>
</section>
<!--/#portfolio-item-->

