

<div class="contact">
  <div class="container">
    <div class="text-center">
      <h2>Contact Us</h2>
      <p>Call us at Monday-Friday, 8:00-6:00, and you'll talk to a real person. How refreshing!</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-7">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2696.0212702923395!2d-122.1776038!3d47.489499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490680aa2406291%3A0x5c2227745c0066ea!2sRenton+Technical+College!5e0!3m2!1sen!2sus!4v1552534008935" width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>

  <div class="contact-info">
    <div class="col-md-5">
      <h2>We Are Here for You</h2>
      <h3>A Company That Inspires Our Customers & Clients</h3>
      <p>Send us email and we'll get back to you the same day or before the rooster crows.</p>
      <ul>
        <li>
          <i class="fa fa-home fa-2x"></i>3000 NE 4th St, Renton, WA 98056
        </li>
        <li>
          <i class="fa fa-phone fa-2x"></i> +800 123 9900
        </li>
        <li>
          <i class="fa fa-envelope fa-2x"></i> info@iTruckDispatcher.net
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="contact-form">
  <div class="container">
    <div class="col-md-4">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputName" placeholder="name">
				</div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email">
				</div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputPhone" placeholder="phone">
				</div>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-12">
      <textarea class="form-control" rows="5"></textarea>
      <div class="form-group">
        <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Submit Message</button>
      </div>
    </div>
  </div>

</div>
