<section id="blog" class="container">
        <div class="text-center">
				<h2>News</h2>
				<p>Here you will find the today’s top trucking news. We add new content daily, so check back often to stay up to date on all things trucking-related!</p>
			</div>

        <div class="blog">
            <div class="row">
                 <div class="col-md-8">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">21  MARCH</span>
                                    <span><i class="fa fa-user"></i> <a href="#">John Doe</a></span>
                                    <span><i class="fa fa-comment"></i> <a href="#">2 Comments</a></span>
                                    <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                                </div>
                            </div>
                                
                            <div class="col-xs-12 col-sm-10 blog-content">
                                <a href="https://cdllife.com/2019/fmcsa-exempts-truckers-from-regulations-with-16-state-emergency-declaration/" target="blank"><img class="img-responsive img-blog" src="images/blog/blog1.png" width="100%" alt="" /></a>
                                <h4>FMCSA exempts truckers from HOS regulations with 16 state emergency declaration</h4>
                                <p>Drivers who are providing "direct assistance" to flooding victims are exempt from some regulation requirements...</p>
                                <a class="btn btn-primary readmore" href="https://cdllife.com/2019/fmcsa-exempts-truckers-from-regulations-with-16-state-emergency-declaration/" target="blank">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->
                        
                    <div class="blog-item">
                        <div class="row">
                             <div class="col-sm-2 text-center">
                                <div class="entry-meta"> 
                                    <span id="publish_date">10  MARCH</span>
                                    <span><i class="fa fa-user"></i> <a href="#">John Doe</a></span>
                                    <span><i class="fa fa-comment"></i> <a href="#">2 Comments</a></span>
                                    <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                                </div>
                            </div>
                            <div class="col-sm-10 blog-content">
                                <a  href="https://cdllife.com/2018/5-best-gps-for-truckers/" target="blank"><img class="img-responsive img-blog" src="images/blog/blog2.jpg" width="100%" alt="" /></a>
                                <h4>5 of the best GPS for truckers</h4>
                                <p>With so many GPS devices to choose from, it can get overwhelming to know which one is going to work best for you. They can easily start to all look the same. That’s why we have compiled a list of the best GPS for truckers, because as you may already know – a GPS is an essential tool for any truck driver... </p>
                                <a class="btn btn-primary readmore" href="https://cdllife.com/2018/5-best-gps-for-truckers/">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>    
                    </div><!--/.blog-item-->

                   <div class="blog-item">
                     <div class="row">
                       <div class="col-sm-2 text-center">
                         <div class="entry-meta">
                           <span id="publish_date">20  DEC</span>
                           <span>
                             <i class="fa fa-user"></i>
                             <a href="#">John Doe</a>
                           </span>
                           <span>
                             <i class="fa fa-comment"></i>
                             <a href="#">2 Comments</a>
                           </span>
                           <span>
                             <i class="fa fa-heart"></i>
                             <a href="#">56 Likes</a>
                           </span>
                         </div>
                       </div>
                       <div class="col-sm-10 blog-content">
                         
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/kPnrYwdv_BI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                         
                         <h4>Tips to prep your truck in winter conditions</h4>
                         <p>When the temperature plunges to five degrees, even the most experienced of truckers can have a hard time managing the icy roads. Poor visibility coupled with reduced traction makes the job of a big rig driver extremely challenging. However, by implementing preventive safety skills for driving in icy conditions, you can sail through the winter season without any major problems. Here are 10 winter driving tips for truck drivers that can help you stay safe this winter...</p>
                         <a class="btn btn-primary readmore" href="https://gpstrackit.com/winter-driving-tips-truck-drivers/" target="blank">
                           Read More <i class="fa fa-angle-right"></i>
                         </a>
                       </div>
                     </div>
                   </div>
                   <!--/.blog-item-->
                        
                    <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i>Previous Page</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next Page<i class="fa fa-long-arrow-right"></i></a></li>
                    </ul><!--/.pagination-->
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                            <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div><!--/.search-->
    				
    				
                     
    				
    				<div class="widget archieve">
                        <h3>Archieve</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> December 2018 <span class="pull-right">(97)</span></a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2018 <span class="pull-right">(32)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2018 <span class="pull-right">(19)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2018 <span class="pull-right">(08)</a></li>
                                </ul>
                            </div>
                        </div>                     
                    </div><!--/.archieve-->

                  <div class="widget categories">
                    <h3>Recent Comments</h3>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="single_comments">
                          <img src="images/blog/avatar3.png" alt=""  />
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do </p>
                          <div class="entry-meta small muted">
                            <span>
                              By <a href="#">Alex</a>
                            </span
                            <span>
                              On <a href="#">Creative</a>
                            </span>
                          </div>
                        </div>
                        <div class="single_comments">
                          <img src="images/blog/avatar3.png" alt=""  />
                          <div class="entry-meta small muted">
                            <span>
                              By <a href="#">Alex</a>
                            </span
                            <span>
                              On <a href="#">Creative</a>
                            </span>
                          </div>
                        </div>
                        <div class="single_comments">
                          <img src="images/blog/avatar3.png" alt=""  />
                          <div class="entry-meta small muted">
                            <span>
                              By <a href="#">Alex</a>
                            </span
                            <span>
                              On <a href="#">Creative</a>
                            </span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!--/.recent comments-->
    			</aside>  
            </div><!--/.row-->
        </div>
    </section><!--/#blog-->
