<div class="skills">
  <div class="container">
    <div class="text-center">
      <h2>Resources</h2>
      <p>
        Competition for freight is fierce.
        Safe and on-time delivery is critical to any company’s success and being an iTruckDispatcher driver means I bring my A-Game.
        iTruckDispatcher gives you access to tools you need, because in the end of the day a successful career for you starts at iTruckDispatcher.
</p>
    </div>
  </div>
</div>

<div class="skill">
  <div class="container">
    <div class="text-center">
      <div class="services-skill">
        <div class="text-center">
          <div class="media">
            <div class="media-left">
              <img src="images/services/1.png" alt="" >
							</div>

            <div class="media-body text-left">
              <a href="https://truckstop.com/" target="blank">
                <h4 class="media-heading">TruckStop</h4>
                <p>
                  Truckstop.com was founded in 1995, when founder Scott Moscrip began offering a better way for truck drivers to find loads than by posting signs on the side of their trucks or gathering around local bulletin boards.

                  Now, over two decades later, Scott’s digital vision has grown and Truckstop.com’s dedicated partners work to help truck drivers and their trusted freight partners grow their businesses. His guiding idea is still the same—always work to find a better way.
                </p>
              </a>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <img src="images/services/11.png" alt="" >
							</div>

            <div class="media-body text-left">
              <a href="https://www.dat.com/" target="blank">
                <h4 class="media-heading">D A T</h4>
                <p>DAT operates the largest truckload freight marketplace in North America. Transportation brokers, carriers, news organizations and industry analysts rely on DAT for market trends and data insights derived from 256 million freight matches and a database of $60 billion of market transactions</p>
              </a>
            </div>
          </div>
          
          <div class="media">
            <div class="media-left">
              <img src="images/services/2.jpg" alt="" >
							</div>

            <div class="media-body text-left">
              <a href="https://pilotflyingj.com/" target="blank">
                <h4 class="media-heading">Pilot</h4>
             
              <p>Pilot Flying J is the largest operator of travel centers in North America with more than 750 locations in 44 states and six Canadian provinces. Headquartered in Knoxville, Tennessee, the company employs more than 28,000 people. CEO Jimmy Haslam has embraced technology and moved Pilot Flying J in new directions, leading the company's growth from 1.1 billion fuel gallons sold in 1996 to more than 7 billion sold annually today. Pilot Flying J serves more than 1.6 million guests a day and is committed to connecting people and places with comfort, care and a smile at every stop.</p>
              </a>
                </div>
          </div>
          
          <div class="media">
            <div class="media-left">
              <img src="images/services/3.jpg" alt="" >
							</div>

            <div class="media-body text-left">
              <a href="https://www.loves.com/" target="blank">
                <h4 class="media-heading">Loves</h4>
                <p>Founded in 1964 and headquartered in Oklahoma City, Love's Travel Stops & Country Stores has more than 480 locations in 41 states, providing professional truck drivers and motorists with 24-hour access to clean and safe places to purchase gasoline, diesel fuel, Compressed Natural Gas (CNG), travel items, electronics, snacks, restaurant offerings, and more. Love's Truck Tire Care offers heavy-duty tire care, including TirePass, light mechanical services and roadside assistance. Love's Hospitality provides a growing network of hotels and storage rental locations, and Love's Financial offers freight bill factoring and back-office support to professional drivers.</p>
              </a>
                </div>
          </div>

          <div class="media">
            <div class="media-left">
              <img src="images/services/4.png" alt="" >
							</div>

            <div class="media-body text-left">
              <a href="https://roadys.com/" target="blank">
                <h4 class="media-heading">Roady's</h4>
                <p>
                  At Roady’s, our mission is to preserve, improve and strengthen the hometown truck stop experience for travelers everywhere by creating a strong network of independent truck stops, c-stores and service centers. Founded in 2007, Roady’s Truck Stops is the largest chain of independent truck stops in the US. Each year over 10,000,000 truckers and travelers visit a Roady’s and purchase over a billion gallons of fuel across more than 300 retail locations in 38 states.
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
