<div class="container google_text">
  <div>
    <h2 id="top" style="clear:both; padding-bottom:10px; padding-top:55px;" class="text-center">Review of Walmart Website</h2>
    <p class="text-m">
      <strong>
        <a href="https://www.walmart.com">Walmart Inc.</a>
      </strong> is an American multinational retail corporation that operates a chain of hypermarkets,
      discount department stores, and grocery stores. Headquartered in Bentonville, Arkansas,
      the company was founded by Sam Walton in 1962 and incorporated on October 31, 1969.

    </p>
  </div>
  <div id="navstruct">
    <h2 style="clear:both;padding-bottom:10px; padding-top:55px;" class="text-center">Navigation and Structure</h2>
    <div>
      <img class="img-m img-fluid img-right d-none d-lg-block d-xl-block" src="/images/review/img1.png"/>
      <div class="text-left">
        <p class="text-m">
          <img class="img-m img-fluid img-right d-block d-lg-none" src="/images/review/img1.png" />
          Navigation is consistent but poorly presented and somewhat effective. Navigation is consistent due to navigational bar being present in same shape throughout the website and even when scrolling down it will still persist on the top of the browser. What makes it poorly presented is because of the change in the background color of some parts of the navigational bar while on start page on top and if scrolled down it will change from transparent to opaque which it feels more like a bug rather a feature. What I don’t find effective is that they break down the menu into departments and not what is conventionally known as categories. I noticed same as some other websites the search box has dropdown to select search in certain category which I don’t know how efficient that is. Other then that the layout seems to be in order, having a carousel banner on full width of the page with featuring items, next row with three columns of useful information, followed by two rows shop by category and plus other rows of top trends and features.<br/>
          <a href="#top">Go to Top</a>
        </p>

      </div>
    </div>
  </div>
  <div id="design">
    <h2 style="clear:both;padding-bottom:10px; padding-top:55px;" class="text-center" id="d">Design</h2>
    <div >
      <img class="img-m img-fluid img-left d-none d-lg-block d-xl-block" src="/images/review/img2.png"/>
      <div class="text-right">
        <p class="text-m">
          <img class="img-m img-fluid img-left d-block d-lg-none" src="/images/review/img2.png" />
          The website is quite responsive and the layout collapses accordingly to fill the content on the page. A row that has three columns will gracefully collapse into two then one column to make content readable and accessible even on smaller screens. The color scheme is simple bold dark blue for nav bar and white background for the rest of the website makes a clean view with pleasant accent. The size of the images scales properly to fill the view area designated to the item. The advertising is limited therefore distraction is not significant. There is Feedback widget, which is like sticking out tab on the left lower side and it doesn’t seem to be intrusive. Clicking on it displays a pop out window to rate and leave experience feedback.<br />
          <a href="#top">Go to Top</a>
        </p>

      </div>
    </div>
  </div>
  <div id="content">
    <h2 style="clear:both;padding-bottom:5px; padding-top:55px;" class="text-center">Content</h2>
    <div>
      <img class="img-m img-fluid img-right d-none d-lg-block d-xl-block" src="/images/review/img3.png"/>
      <div class="text-left">
        <p class="text-m">
          <img class="img-m img-fluid img-right d-block d-lg-none" src="/images/review/img3.png" />
          The content seems fresh and relevant to the seasons and the events celebrated during the season. Is there any synergy between the design and the content? Since the background of the website is white, white color is graceful and easy to the eye. Most images are photoshopped with white background which help the item to blend in the background of the website. In general, the overall responsiveness is complementing the navigational flow helping users to find their way through in an efficient way.<br />
          <a href="#top">Go to Top</a>
        </p>
      </div>
    </div>
  </div>
  <div id="interactivity">
    <h2 style="clear:both;padding-bottom:5px; padding-top:55px;" class="text-center">Interactivity</h2>
    <div>
      <img class="img-m img-fluid img-left d-none d-lg-block d-xl-block" src="/images/review/img4.png" />
      <div class="text-right">
        <p class="text-m">
          <img class="img-m img-fluid img-left d-block d-lg-none" src="/images/review/img4.png" />
          Field validations are checking the input pattern as the user types the input, so if the user didn’t type @ symbol while typing email address the validation will prompt the user about the issue even before the submit button is being clicked. Another nice feature is as you hover over the icon of the shopping cart the icon will change into a text saying “Cart.”<br />
          <a href="#top">Go to Top</a>
        </p>
      </div>
    </div>
  </div>
  <div id="suggestions">
    <h2 style="clear:both;padding-bottom:5px; padding-top:55px;" class="text-center">Suggested Improvements</h2>
    <div>
      <img class="img-m img-fluid img-right d-none d-lg-block d-xl-block" src="/images/review/img5.png"/>
      <div class="text-left">
        <p class="text-m">
          <img class="img-m img-fluid img-right d-block d-lg-none" src="/images/review/img5.png" />
          I’m not sure what is the reasoning behind it but when changing the screen size to small screen two out of four links will disappear from the navigation bar. One of those links is “Account” which I believe is very important for the users. I would redesign to make sure the users do not loose their direct access to the features of their account. And secondly, I would revise the menu to break down into categories rather departments. Departments of the store might be familiar to a permanent shopper but for occasional visitor it could be less helpful.<br />
          <a href="#top">Go to Top</a>
        </p>
      </div>
    </div>
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>
  var node = '<a class="nav-link dropdown-toggle\" href="#" id="navbardrop" data-toggle="dropdown">Reviews</a><div class="dropdown-menu"><a class="dropdown-item" href="#navstruct">Navigation and Structure</a><a class="dropdown-item" href="#design">Design</a><a class="dropdown-item" href="#content">Content</a><a class="dropdown-item" href="#interactivity">Interactivity</a><a class="dropdown-item" href="#suggestions">Suggested Improvements</a></div>';
  document.getElementById("rev").innerHTML = node;
</script>

