body {
  margin-left: 28px;
  margin-right: 100px;
  font-family: Palatino Linotype, Garamond, serif, sans-serif;
  color: #000000;
  background: #ffffff;
}

//links
a:link {
  color: #00c;
}
a:visited {
  color: #609;
  background: transparent;
}
a:active {
  color: #c00;
  background: transparent;
}
a:hover {
  background: #ffa;
}

h1, h2, h3, h4, h5, h6 {text-align: left;}
h1, h2, h3 {color: 005a9c;}
h1 {font: 170%; font-family: sans-serif;}
h2 {font: 140%; font-family: sans-serif;}
h3 {font: 120%; font-family: sans-serif;}
h4 {font: 100%; font-weight: bold; font-family: sans-serif;}
h5 {font: 100%; font-style: italic; font-family: sans-serif;}
h6 {font: 170%; font-variant: small-caps; font-family: sans-serif;}
p {font: 100%; font-family: sans-serif;}



/*media query*/
@media (max-width: 433px) {
    body {
        background-color: #000000;
		color:#FFFFFF;
    }
    img {
        padding:15px;
    }
}

@media (min-width:434px ) and (max-width: 767px) {
    body {
        background-color: #D3D3D3;
        color: #000000;
    }

    ol, ul {
        list-style: none;
    }
}
@media (min-width:768px){
    body{
        background-color:white;
		color: #000000;
    }
    .myName{
        font-size:48px;
    }
}