html {
    padding-top:24px;
    scroll-behavior: smooth;
}
body {
  display: block;
  font-family: Palatino Linotype, Garamond, serif, sans-serif;
  color: #000000;
  background: #ffffff;
  padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

//links
a:link {
  color: #00c;
}
a:visited {
  color: #609;
  background: transparent;
}
a:active {
  color: #c00;
  background: transparent;
}
a:hover {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {text-align: left;}
h1, h2, h3 {color: 005a9c;}
h1 {font: 170%; font-family: sans-serif;}
h2 {font: 140%; font-family: sans-serif;}
h3 {font: 120%; font-family: sans-serif;}
h4 {font: 100%; font-weight: bold; font-family: sans-serif;}
h5 {font: 100%; font-style: italic; font-family: sans-serif;}
h6 {font: 170%; font-variant: small-caps; font-family: sans-serif;}
p {font: 100%; font-family: sans-serif;}



/*media query*/
@media (max-width: 500px) {
    body {
        background-color: #000000;
		color:#FFFFFF;
    }
    img {
        padding:15px;
    }
	
	 .img-left {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .img-right {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .img-m {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .google_text {
        font-family: Cuprum;
    }
}

@media (min-width:501px ) and (max-width: 767px) {
    body {
        background-color: #D3D3D3;
        color: #000000;
    }

    ol, ul {
        list-style: none;
    }
	 
	.img-left {
        float: left;
        margin:20px;      
    }

    .img-right {
        float: right;
        margin:20px;       
    }
  
    .img-m {      
        height: auto;
        width: auto;
        max-width: 50%;
        max-height: 50%;
    } 
}
@media (min-width:768px){
    body{
        background-color:white;
		color: #000000;
    }
    .myName{
        font-size:48px;
    }
	
	.img-left {
        float: left;
        margin: 20px;     
    }
    .img-right {
        float: right;
        margin: 20px;      
    }
    .text-left {      
        overflow:hidden;
       
    }
    .text-right {        
        overflow:hidden;
    }
   
    .img-m {
        height: auto;
        width: auto;
        max-width: 50%;
        max-height:50%;
		margin-top: auto;
    }  
}

.text-m {
    text-indent:2em;
    display: inline-block;
    text-align: left;
	text-align: justify;
    text-justify: inter-word;
}

